.moduleA .link-text[data-locator="moduleA_header_text_0_0"]{
  font-size: 32px;
  font-weight: 900;
}

.moduleA .link-text[data-locator="moduleA_header_text_0_0_1"]{
  font-size: 16px;
  font-weight: 500;
}

.moduleA .ribbon-container {
  background-image: url(https://test6.gymboree.com/static/images/module-s-right-ribbon.png?token=tcprwd) !important;
}

.moduleA .moduleA__ribbonBanner {
  margin-left: 30px;
}

.moduleA .banner-slide picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(216, 216, 216, 0));
  opacity: .7;
}


.moduleN[data-locator="moduleN_promobanner_img"] {
  background-color: #dbebf8;
}

.moduleN .ModuleN-heading .spaced_text {
  font-size: 32px;
  font-weight: 900;
  color: #003057;
  line-height: 1.21;
  letter-spacing: normal;
}

.moduleN .ModuleN-heading .link-text[data-locator="moduleN_header_text_0_1"] {
  font-size: 18px;
  color: #003057;
  font-weight: normal;
}

.moduleN .moduleN-innerContent {
  position: relative;
}

.moduleN .ModuleN_Button .button-list-wrapper {
  padding: 11px;
}

.moduleN .link-button[data-locator="moduleN_cta_links_1-link"] {
  display: none;
}

.moduleN .link-button[data-locator="moduleN_cta_links_0-link"] .link-button-wrapper-class {
  color: #003057;
  font-size: 20px;
  border-bottom-color: #003057;
  font-weight: bold;
}

.moduleN .link-button[data-locator="moduleN_cta_links_1-link"] {
  display: none;
}

.moduleM .promo-header .medium_text_subpromo {
  color: #9b9b9b !important;
}

.moduleQ .moduleQ-header{
  font-size: 32px !important;
  font-weight: 900 !important;
  line-height: 1.21 !important;
  letter-spacing: 0.48px !important;
  color: #e2499b !important;
}

.moduleQ .moduleQ-promo {
  margin: 0 auto !important;
  font-size: 15px !important;
  line-height: 1.36 !important;
  text-align: center !important;
  color: #003057 !important;
}

.moduleQ .moduleQ-promo-header {
  font-size: 48px !important;
  font-weight: 900 !important;
  line-height: 1.21 !important;
  letter-spacing: 0.48px !important;
  color: #e2499b !important;
}

@media (min-width: 1200px) {
  .moduleA .link-text[data-locator="moduleA_header_text_0_0"]{
    font-size: 64px;
    font-weight: 900;
  }

  .moduleA .link-text[data-locator="moduleA_header_text_0_0_1"]{
    font-size: 28px;
    font-weight: normal;
  }

  .moduleN .ModuleN-heading .spaced_text {
    font-size: 48px;
    font-weight: 900;
    color: #003057;
    line-height: 1.21;
    letter-spacing: normal;
  }

  .moduleN .link-button[data-locator="moduleN_cta_links_0-link"] {
    position: absolute;
    bottom: 22px;
    right: 14%;
  }

  .moduleQ .moduleQ-header{
    font-size: 48px !important;
    font-weight: 900 !important;
    line-height: 1.21 !important;
    letter-spacing: 0.48px !important;
    color: #e2499b !important;
  }

  .moduleQ.moduleQ .moduleQ-promo {
    width: 423px !important;
    margin: 0 auto !important;
    font-size: 22px !important;
    line-height: 1.36 !important;
    text-align: center !important;
    color: #003057 !important;
  }

}

@media (min-width: 1200px) {
  .moduleM.moduleM .image-items-container-category {
    margin: 25px 18% !important;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .moduleM.moduleM .image-items-container-category {
    margin: 25px 10% !important;
  }
}

.moduleM.moduleM .imagecategory__list {
  flex-direction: column !important;
  justify-content: flex-start !important;
  margin-right: 8px !important;
}

@media (min-width: 375px) and (max-width: 767px) {
  .moduleM.moduleM .imagecategory__list img {
    width: 115px !important; 
  }
}

.rewards_card_logo.rewards_card_logo .header-image, 
[data-locator="mprcc-tcpgymimage"], 
[data-locator="plcc_apply_now_modal"] .header-image,
[data-locator="plcc_time_out_modal_logo"] {
  background-image: url(https://test1.theplace.com/image/upload/v1574733531/tcp-cc_2x.png) !important;
}

.placeholder { display: none !important; }

.moduleQ.moduleQ {
  background-image: url(https://test1.theplace.com/image/upload/v1574735934/CupcakeBG.gif) !important;
}

@media (min-width: 375px) and (max-width: 1199px) {
  .moduleQ.moduleQ {
    background-position: top;
    background-size: contain;
  }
}
