.moduleA.moduleA .ribbon-container {
  background-image: url(https://test6.gymboree.com/static/images/module-s-right-ribbon.png?token=tcprwd) !important;
}

@media (min-width: 1200px) {
  .moduleM.moduleM .image-items-container-category {
    margin: 25px 18% !important;
  }
}

.moduleM.moduleM .imagecategory__list {
  flex-direction: column !important;
  justify-content: flex-start;
  margin-right: 8px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .moduleM.moduleM .imagecategory__list img {
    width: 115px !important; 
  }
}
