.moduleA .link-text[data-locator="moduleA_header_text_0_0"]{
  font-size: 64px;
  font-weight: 900;
}

.moduleA .link-text[data-locator="moduleA_header_text_0_0_1"]{
  font-size: 28px;
  font-weight: 500;
}

.moduleA .ribbon-container {
  background: transparent url(https://test6.gymboree.com/static/images/module-s-right-ribbon.png?token=tcprwd) no-repeat right 0 !important;
}

.moduleA .moduleA__ribbonBanner {
  margin-left: 30px;
}

.moduleA .banner-slide picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(216, 216, 216, 0));
  opacity: .7;
}

@media (min-width: 1200px) {
  .moduleM.moduleM .image-items-container-category {
    margin: 25px 18% !important;
  }
}

@media (min-width: 768px and max-width: 1200px) {
  .moduleM.moduleM .image-items-container-category {
    margin: 25px 10% !important;
  }
}

.moduleM.moduleM .imagecategory__list {
  flex-direction: column !important;
  justify-content: flex-start !important;
  margin-right: 8px !important;
}

@media (min-width: 375px) and (max-width: 767px) {
  .moduleM.moduleM .imagecategory__list img {
    width: 115px !important; 
  }
}
